In [205]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import isnan
from sklearn.preprocessing import OrdinalEncoder

In [206]:
train= pd.read_csv("Train.csv")

In [207]:
tt=train.copy()

In [208]:
tt.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [209]:
tt.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [210]:
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [211]:
tt['Spending_Score']=tt['Spending_Score'].fillna(method='ffill')

In [212]:
tt['Spending_Score']=tt['Spending_Score'].fillna(method='bfill')

In [213]:
tt.loc[(tt['Graduated'].isnull()) & (tt["Profession"]=="Homemaker"), "Graduated"] = "No"

In [214]:
tt.loc[(tt['Graduated'].isnull()) & (tt["Profession"]!="Homemaker"), "Graduated"] = "Yes"

In [215]:
tt.loc[(tt['Ever_Married'].isnull()) & (tt["Age"]>=35), "Ever_Married"] = "Yes"

In [216]:
tt.loc[(tt['Ever_Married'].isnull()) & (tt["Age"]<=35), "Ever_Married"] = "No"

In [217]:
tt=tt.dropna(subset=['Profession','Var_1'])

In [218]:
tt.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience    794
Spending_Score       0
Family_Size        309
Var_1                0
Segmentation         0
dtype: int64

In [219]:
tt['Ever_Married']=tt['Ever_Married'].map({'No':0,"Yes":1})

In [220]:
tt['Gender']=tt['Gender'].map({'Female':0,"Male":1})

In [221]:
tt['Graduated']=tt['Graduated'].map({'No':0,"Yes":1})

In [222]:
tt['Spending_Score']=tt['Spending_Score'].map({'Low':0,"Average":1,'High':2})

In [223]:
tt['Var_1']=tt['Var_1'].map({'Cat_1':1,"Cat_2":2,'Cat_3':3,'Cat_4':4,"Cat_5":5,'Cat_6':6,'Cat_7':7})

In [224]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

In [225]:
tt['Profession']=lr.fit_transform(tt['Profession'])

In [226]:
tt.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,5,1.0,0,4.0,4,D
1,462643,0,1,38,1,2,NaN,1,3.0,4,A
2,466315,0,1,67,1,2,1.0,0,1.0,6,B
3,461735,1,1,67,1,7,0.0,2,2.0,6,B
4,462669,0,1,40,1,3,NaN,2,6.0,6,A

In [227]:
tt.dropna(inplace=True)

In [508]:
dd=train.copy()

In [509]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [480]:
# dd['Family_Size']=dd[dd['Family_Size'].notnull()]['Family_Size'].astype("Int64")

In [512]:
dd['Family_Size'].median()

3.0

In [513]:
dd['Family_Size'] = dd['Family_Size'].fillna(3)

In [514]:
dd['Profession']=dd['Profession'].fillna(method='ffill')

In [515]:
dd['Profession']=dd['Profession'].fillna(method='bfill')

In [516]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

In [517]:
dd['Profession']=lr.fit_transform(dd['Profession'])

In [518]:
dd['Var_1']=dd['Var_1'].fillna(method='ffill')

In [519]:
dd['Var_1']=dd['Var_1'].fillna(method='bfill')

In [520]:
dd['Spending_Score']=dd['Spending_Score'].fillna(method='ffill')

In [521]:
dd['Spending_Score']=dd['Spending_Score'].fillna(method='bfill')

In [522]:
dd.loc[(dd['Graduated'].isnull()) & (dd["Profession"]=="Homemaker"), "Graduated"] = "No"

C:\Users\Mooventh\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [523]:
dd.loc[(dd['Graduated'].isnull()) & (dd["Profession"]!="Homemaker"), "Graduated"] = "Yes"

In [524]:
dd.loc[(dd['Ever_Married'].isnull()) & (dd["Age"]>=35), "Ever_Married"] = "Yes"

In [525]:
dd.loc[(dd['Ever_Married'].isnull()) & (dd["Age"]<=35), "Ever_Married"] = "No"

In [526]:
dd['Ever_Married']=dd['Ever_Married'].map({'No':0,"Yes":1})

In [527]:
dd['Gender']=dd['Gender'].map({'Female':0,"Male":1})

In [528]:
dd['Graduated']=dd['Graduated'].map({'No':0,"Yes":1})

In [529]:
dd['Spending_Score']=dd['Spending_Score'].map({'Low':0,"Average":1,'High':2})

In [530]:
dd['Var_1']=dd['Var_1'].map({'Cat_1':1,"Cat_2":2,'Cat_3':3,'Cat_4':4,"Cat_5":5,'Cat_6':6,'Cat_7':7})

In [482]:
# dd['Var_1']=dd[dd['Var_1'].notnull()]['Var_1'].astype("Int64")

In [533]:
dd.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,5,1.0,0,4.0,4,D
1,462643,0,1,38,1,2,NaN,1,3.0,4,A
2,466315,0,1,67,1,2,1.0,0,1.0,6,B
3,461735,1,1,67,1,7,0.0,2,2.0,6,B
4,462669,0,1,40,1,3,NaN,2,6.0,6,A

In [534]:
dd.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience    829
Spending_Score       0
Family_Size          0
Var_1                0
Segmentation         0
dtype: int64

In [552]:
dd['Segmentation']= dd['Segmentation'].map({'A':1,'B':2,'C':3,'D':4})

In [556]:
X= dd.drop('Segmentation',1)
y= dd['Segmentation']

In [557]:
X.values

array([[4.62809e+05, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        4.00000e+00, 4.00000e+00],
       [4.62643e+05, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        3.00000e+00, 4.00000e+00],
       [4.66315e+05, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 6.00000e+00],
       ...,
       [4.65406e+05, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 6.00000e+00],
       [4.67299e+05, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        4.00000e+00, 6.00000e+00],
       [4.61879e+05, 1.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        3.00000e+00, 4.00000e+00]])

In [558]:
from sklearn.impute import KNNImputer

In [559]:
imput= KNNImputer()

In [560]:
new_x= imput.fit_transform(X.values)

In [561]:
new_x= pd.DataFrame(new_x)

In [562]:
new_x.columns=X.columns

In [563]:
new_x

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809.0,1.0,0.0,22.0,0.0,5.0,1.0,0.0,4.0,4.0
1,462643.0,0.0,1.0,38.0,1.0,2.0,2.8,1.0,3.0,4.0
2,466315.0,0.0,1.0,67.0,1.0,2.0,1.0,0.0,1.0,6.0
3,461735.0,1.0,1.0,67.0,1.0,7.0,0.0,2.0,2.0,6.0
4,462669.0,0.0,1.0,40.0,1.0,3.0,2.8,2.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...
8063,464018.0,1.0,0.0,22.0,0.0,0.0,0.0,0.0,7.0,1.0
8064,464685.0,1.0,0.0,35.0,0.0,4.0,3.0,0.0,4.0,4.0
8065,465406.0,0.0,0.0,33.0,1.0,5.0,1.0,0.0,1.0,6.0
8066,467299.0,0.0,0.0,27.0,1.0,5.0,1.0,0.0,4.0,6.0
8067,461879.0,1.0,1.0,37.0,1.0,4.0,0.0,1.0,3.0,4.0

In [564]:
new_x.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [566]:
final_train= pd.concat([new_x,y],1)

In [567]:
final_train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [345]:
from sklearn.ensemble import RandomForestClassifier

In [346]:
rfc=RandomForestClassifier()

In [347]:
from sklearn.model_selection import train_test_split

In [357]:
X_train,X_test,y_train,y_test= train_test_split(new_x,y,test_size=0.2,random_state=42)

In [358]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [359]:
from sklearn.metrics import confusion_matrix as cm,classification_report,accuracy_score

In [360]:
y_pred= rfc.predict(X_test)

In [361]:
cm(y_test,y_pred)

array([[133,  81,  50,  53],
       [ 69, 115, 103,  29],
       [ 36,  88, 189,  40],
       [ 87,  31,  16, 245]], dtype=int64)

In [362]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           A       0.41      0.42      0.41       317
           B       0.37      0.36      0.36       316
           C       0.53      0.54      0.53       353
           D       0.67      0.65      0.66       379

    accuracy                           0.50      1365
   macro avg       0.49      0.49      0.49      1365
weighted avg       0.50      0.50      0.50      1365

In [363]:
accuracy_score(y_test,y_pred)

0.49963369963369964

In [338]:
from sklearn.tree import DecisionTreeClassifier 
dtc=DecisionTreeClassifier()

In [339]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [340]:
dpred=dtc.predict(X_test)

In [341]:
print(classification_report(y_test,dpred))

              precision    recall  f1-score   support

           A       0.38      0.39      0.39       317
           B       0.35      0.38      0.37       316
           C       0.44      0.42      0.43       353
           D       0.63      0.59      0.61       379

    accuracy                           0.45      1365
   macro avg       0.45      0.45      0.45      1365
weighted avg       0.46      0.45      0.46      1365

In [342]:
import xgboost as xgb

In [343]:
new_y= y.map({'A':1,'B':2,'C':3,'D':4})

In [364]:
X_train,X_test,y_train,y_test= train_test_split(new_x,new_y,test_size=0.2,random_state=42)

In [365]:
xg_train = xgb.DMatrix(X_train, label=y_train)
xg_test = xgb.DMatrix(X_test, label=y_test)

In [366]:
param = {}

param['objective'] = 'multi:softmax'
# scale weight of positive examples
param['eta'] = 0.1
param['max_depth'] = 6
param['nthread'] = 4
param['num_class'] = 6

watchlist = [(xg_train, 'train'), (xg_test, 'test')]
num_round = 5
bst = xgb.train(param, xg_train, num_round, watchlist)
# get prediction
pred = bst.predict(xg_test)

[0]	train-merror:0.42755	test-merror:0.49304
[1]	train-merror:0.42334	test-merror:0.49524
[2]	train-merror:0.41363	test-merror:0.48718
[3]	train-merror:0.40997	test-merror:0.48938
[4]	train-merror:0.40923	test-merror:0.49084

In [367]:
accuracy_score(y_test,pred)

0.5091575091575091

In [368]:
from sklearn.linear_model import LogisticRegression

In [386]:
lr=LogisticRegression(solver='newton-cg',multi_class='multinomial')

In [387]:
lr.fit(X_train,y_train)

C:\Users\Mooventh\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:466: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\Mooventh\Anaconda3\lib\site-packages\scipy\optimize\linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\Mooventh\Anaconda3\lib\site-packages\sklearn\utils\optimize.py:212: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [388]:
l_pred=lr.predict(X_test)

In [389]:
accuracy_score(y_test,l_pred)

0.48644688644688644

In [569]:
test= pd.read_csv("test.csv")

In [570]:
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6

In [571]:
test.isnull().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [572]:
test['Spending_Score']=test['Spending_Score'].fillna(method='ffill')

In [573]:
test['Spending_Score']=test['Spending_Score'].fillna(method='bfill')

In [574]:
test.loc[(test['Graduated'].isnull()) & (test["Profession"]=="Homemaker"), "Graduated"] = "No"

In [575]:
test.loc[(test['Graduated'].isnull()) & (test["Profession"]!="Homemaker"), "Graduated"] = "Yes"

In [576]:
test.loc[(test['Ever_Married'].isnull()) & (test["Age"]>=35), "Ever_Married"] = "Yes"

In [577]:
test.loc[(test['Ever_Married'].isnull()) & (test["Age"]<=35), "Ever_Married"] = "No"

In [578]:
test['Ever_Married']=test['Ever_Married'].map({'No':0,"Yes":1})

In [579]:
test['Gender']=test['Gender'].map({'Female':0,"Male":1})

In [580]:
test['Graduated']=test['Graduated'].map({'No':0,"Yes":1})

In [581]:
test['Spending_Score']=test['Spending_Score'].map({'Low':0,"Average":1,'High':2})

In [582]:
test['Var_1']=test['Var_1'].map({'Cat_1':1,"Cat_2":2,'Cat_3':3,'Cat_4':4,"Cat_5":5,'Cat_6':6,'Cat_7':7})

In [583]:
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,0,1,36,1,Engineer,0.0,0,1.0,6.0
1,458994,1,1,37,1,Healthcare,8.0,1,4.0,6.0
2,458996,0,1,69,0,NaN,0.0,0,1.0,6.0
3,459000,1,1,59,0,Executive,11.0,2,2.0,6.0
4,459001,0,0,19,0,Marketing,NaN,0,4.0,6.0

In [584]:
test['Profession']=test['Profession'].fillna(method='ffill')

In [585]:
test['Profession']=test['Profession'].fillna(method='bfill')

In [586]:
test.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [588]:
test['Family_Size'].fillna(2,inplace=True)

In [589]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

test['Profession']=lr.fit_transform(test['Profession'])

In [590]:
from sklearn.impute import KNNImputer

In [591]:
imput= KNNImputer()

In [592]:
new_x= imput.fit_transform(test)

In [593]:
new_x= pd.DataFrame(new_x)

In [594]:
new_x.columns=test.columns

In [595]:
new_x

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989.0,0.0,1.0,36.0,1.0,2.0,0.0,0.0,1.0,6.0
1,458994.0,1.0,1.0,37.0,1.0,5.0,8.0,1.0,4.0,6.0
2,458996.0,0.0,1.0,69.0,0.0,5.0,0.0,0.0,1.0,6.0
3,459000.0,1.0,1.0,59.0,0.0,4.0,11.0,2.0,2.0,6.0
4,459001.0,0.0,0.0,19.0,0.0,8.0,1.6,0.0,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...
2622,467954.0,1.0,0.0,29.0,0.0,5.0,9.0,0.0,4.0,6.0
2623,467958.0,0.0,0.0,35.0,1.0,1.0,1.0,0.0,1.0,6.0
2624,467960.0,0.0,0.0,53.0,1.0,3.0,2.4,0.0,2.0,6.0
2625,467961.0,1.0,1.0,47.0,1.0,4.0,1.0,2.0,5.0,4.0
2626,467968.0,0.0,0.0,43.0,1.0,5.0,9.0,0.0,3.0,7.0

In [599]:
rdc=RandomForestClassifier()

In [601]:
X=final_train.drop('Segmentation',1)

In [602]:
y=final_train['Segmentation']

In [603]:
rdc.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [622]:
final_pred= rdc.predict(new_x)

In [623]:
ff= pd.DataFrame({"ID":test['ID'],"Segmentation":final_pred})

In [625]:
ff

          ID  Segmentation
0     458989             2
1     458994             3
2     458996             1
3     459000             3
4     459001             4
...      ...           ...
2622  467954             4
2623  467958             1
2624  467960             4
2625  467961             2
2626  467968             4

[2627 rows x 2 columns]

In [626]:
ff['Segmentation']=ff['Segmentation'].map({1:'A',2:'B',3:'C',4:'D'})

In [627]:
ff

          ID Segmentation
0     458989            B
1     458994            C
2     458996            A
3     459000            C
4     459001            D
...      ...          ...
2622  467954            D
2623  467958            A
2624  467960            D
2625  467961            B
2626  467968            D

[2627 rows x 2 columns]

In [632]:
ff.to_csv("submit2.csv",index=False)